.navbar {
  border-bottom: 1px solid #cccc;
  height: 100px;
}
.navbar-nav {
  margin-left: 40px;
  flex-direction: row;
  align-items: center;
  .nav-item {
    margin-right: 50px;
    a {
      text-decoration: none;
      color: hsl(0, 0%, 0%);
      &:hover {
        border-bottom: 5px solid hsl(26, 100%, 55%);
        padding-bottom: 35px;
        animation-delay: 50ms;
      }
    }
  }
}
